<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: base(~{::body})}">
<body>
<div th:fragment="content" class="flex-1 overflow-auto p-6">
    <div class="bg-white rounded-lg shadow">
        <div class="p-6">
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-xl font-semibold">Dishes</h2>
                <div class="flex space-x-3">
                    <button id="btnAddDish"
                            class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors">
                        Add Dish
                    </button>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Dish ID</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Dish Name</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Category</th>
                        <th></th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                    </tr>
                    </thead>
                    <tbody th:each="dish : ${dishes}" class="bg-white divide-y divide-gray-200">
                    <tr class="hover:bg-gray-50">
                        <td th:text="${dish.dishId}" class="px-6 py-4 text-sm font-medium text-gray-900"></td>
                        <td th:text="${dish.name}" class="px-6 py-4 text-sm text-gray-500"></td>
                        <td th:text="${dish.description}" class="px-6 py-4 text-sm text-gray-500"></td>
                        <td th:text="${dish.price}" class="px-6 py-4 text-sm text-gray-500"></td>
                        <td>
                <span th:text="${dish.category.name}"
                      class="px-2 inline-flex text-xs font-semibold rounded-full bg-green-100 text-green-800"></span>
                        </td>
                        <td>
                            <a th:href="@{/recipes/edit/{dishId}(dishId=${dish.dishId})}"
                               class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 py-2">
                                Recipe
                            </a>
                        </td>
                        <td class="px-6 py-4 text-sm font-medium">
                            <div class="flex space-x-3">
                                <button type="button"
                                        th:data-id="${dish.dishId}"
                                        th:data-name="${dish.name}"
                                        th:data-description="${dish.description}"
                                        th:data-price="${dish.price}"
                                        th:data-category-id="${dish.category.id}"
                                        th:data-image-url="${dish.image}"
                                        class="btnEditDish text-indigo-600 hover:text-indigo-900">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <a th:href="@{/dishes/delete/{id}(id=${dish.dishId})}"
                                   class="btnDeleteDish text-red-600 hover:text-red-900">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="flex items-center justify-between mt-4">
                    <!-- Previous Button -->
                    <a th:href="@{|/dishes?page=${currentPage - 1}&size=5|}"
                       th:if="${currentPage > 0}"
                       class="px-4 py-2 text-sm font-medium text-gray-600 bg-gray-200 rounded hover:bg-gray-300">
                        Previous
                    </a>

                    <!-- Page Numbers -->
                    <div class="flex space-x-2">
                        <a th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                           th:href="@{|/dishes?page=${pageNum}&size=5|}"
                           th:text="${pageNum + 1}"
                           th:classappend="${pageNum == currentPage} ? 'bg-blue-500 text-white' : ''"
                           class="px-4 py-2 text-sm font-medium rounded bg-gray-200 text-gray-600 hover:bg-blue-600 hover:text-white">
                        </a>
                    </div>

                    <!-- Next Button -->
                    <a th:href="@{|/dishes?page=${currentPage + 1}&size=5|}"
                       th:if="${currentPage < totalPages - 1}"
                       class="px-4 py-2 text-sm font-medium text-gray-600 bg-gray-200 rounded hover:bg-gray-300">
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="dishModal"
         class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 hidden items-center justify-center">
        <div th:replace="~{fragments/modals/dish-input-modal}"></div>
    </div>
</div>

<th:block th:fragment="page-scripts">
    <script th:src="@{/js/pages/dish-page.js}" defer></script>
</th:block>
</body>
</html>
