<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: base(~{::body})}" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div class="w-full ml-20 mx-auto flex flex-col md:flex-row gap-6 h-screen">
    <div th:replace="~{fragments/table-layout}"></div>
    <div th:replace="${#strings.toUpperCase(status) == 'AVAILABLE' or #strings.toUpperCase(status) == 'RESERVED'}
                    ? ~{fragments/create-checkin-order}
                    : ~{fragments/order-item-sidebar}">
    </div>
</div>

<th:block th:fragment="page-scripts">
    <script th:src="@{/js/pages/manage-table-order.js}" defer></script>
</th:block>
</body>
</html>
